<h1>Photos#new</h1>


<%= simple_form_for [@category,@photo] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
   
    <%= f.input :name, label: "Nom" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :image, as: :file %>

  
    <%= f.button :submit, "Sauvegarder", class: "btn btn-dark" %>  
<% end %>

