<h1>Categories</h1>
 <p>Créer une nouvelle catégorie</p>


<%= simple_form_for(@category) do |f| %>
  <%= f.input :name%>
  <%= f.input :image, as: :file %>
  <%= f.submit %>

<% end %>

<%= link_to "Retour à l'accueil", root_path %>
